<%= form_with(model: helloworld) do |form| %>
  <% if helloworld.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(helloworld.errors.count, "error") %> prohibited this helloworld from being saved:</h2>

      <ul>
        <% helloworld.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
